
.uppercart{
    display: flex;
    gap: 50px;
    margin-left: 820px;
}
.cart{
    display: flex;
    gap: 10px;
    /* margin-left: 10px; */
    /* margin-bottom: 50px;
    margin-top: 40px; */
}
.textbtn{
    height: 150px;
    width: 500px;
    text-align: center;
}

.image{
   height: 100px;
   width: 500px;
}
.btn{
   flex-direction: column-reverse;
}